<div class="wrapper">
  <p class="heading">New auction</p>
  <div class="form-group">
    <label class="block">
      What are you selling?:
      <input type="text" [(ngModel)]="name" />
    </label>
  </div>

  <div class="form-group">
    <label class="block">
      Duration:
      <input type="number" min="0" class="with-select" [(ngModel)]="duration" />
    </label>
  </div>

  <div class="form-group">
    <label class="block">
      Time unit:
      <select [(ngModel)]="timeUnit">
        <option value="seconds">Seconds</option>
        <option value="minutes">Minutes</option>
        <option value="hours">Hours</option>
        <option value="days">Days</option>
        <option value="weeks">Weeks</option>
      </select>
    </label>
  </div>

  <button mat-button (click)="createNewAuction()" [disabled]="isLoading">
    Create new auction
  </button>

  <div class="form-group" *ngIf="error">
    <p class="error">{{ errorMessage }}</p>
  </div>
</div>
