<!--<mat-spinner *ngIf="isLoading"></mat-spinner>-->
<div class="wrapper" *ngIf="address != undefined">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>{{ details.auctionName }}</mat-card-title>
      <mat-card-subtitle>Auction address: {{ address }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="form-group">
        <label class="block"> <b>Item on sale:</b> {{ details.auctionName }} </label>
      </div>
      <div class="form-group">
        <label class="block"> <b>Seller:</b> {{ details.seller }} </label>
      </div>
      <div class="form-group">
        <label class="block"> <b>Seller's rating:</b> 4.3/5 </label>
      </div>
      <div class="form-group">
        <label class="block">
          <b>End time:</b> {{ unixTimestampToDate(details.auctionEndTime) }}
        </label>
      </div>
      <br />

      <div class="load-auction--wrapper">
        <div class="form-group">
          <label class="block">Bidding: </label>
          <input type="text" [(ngModel)]="bid" /><button
                mat-button
        >
          Bid
        </button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
